.jumbotron h1 {
	text-align: center;
}

.jumbotron {
	margin-top: 150px;
	padding-top: 30px;
	padding-bottom: 10px;
}

.panel{
	margin-top:30px;
}

/*body {
  background:url('http://dummyimage.com/1080/9494ff/0011ff.png') #A98436 no-repeat 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
 /**/
 /*body {
   background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSeaXt7yHMb7T1dleNGNtPRpXZ-MIqJh445vsplWWXFQnGjMcgW2A");
 /*
